#instructions {
    margin:auto;
    width:50%;
    text-align: center;
}

#instruction-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#username-form {
    margin: auto;
    width:50%;
    text-align: center;
}

#diditsubmit {
    margin: auto;
    width: 50%;
    text-align: center;
}

#footer-text {
    margin: auto;
    width: 50%;
    text-align: center;
}

footer {
    background-color: rgb(158, 158, 158);
}